@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911);

html {
	margin: 0;
	padding: 0;
	color: #aaaaaa;
	background: #000000 url(images/slider01.jpg) center no-repeat;
	font: normal 16px "Goudy Bookletter 1911", Times, serif;
}

/* Links */

a:link { 
	text-decoration: none; 
	color: #e9e2ba; 
}

a:visited { 
	text-decoration: none; 
	color: #e9e2ba; 
}

a:hover, a:active { 
	color: #e9e9b9;
	text-shadow: 0 0 6px #e9e2ba;
}

/* Html Elements */

h1, h2, h3, h4, h5, h6 { 
	font-weight: normal; 
	margin: 0; 
	padding: 10px 0; 
	color: #BB0003; 
}

h1 { 
	font-size: 32px; 
}

h2 { 
	font-size: 28px; 
}

h3 { 
	font-size: 24px; 
}

h4 { 
	font-size: 20px; 
}

h5, h6 { 
	font-size: 17px; 
}

ul, ol, dl, blockquote, pre {
	color: #999999;
	margin: 10px 35px; 
	padding: 10px 30px; 
	line-height: 1.6em;
	border: 1px solid #1a1a1a;
	border-top: 10px solid #151515;
	background: rgba(0,0,0,.9);
}

p { margin: 0; }

ul { list-style-type: square; } 

dt {
	margin: 0;
	color: #BB0003;
	font-size: 15px; 
	padding: 10px 0 2px; 
	text-transform: uppercase; 
}

dd { 
	margin: 0; 
	padding: 2px 0 5px; 
	margin-bottom: 5px; 
	border-bottom: 1px dotted #555555; 
}

dd.last { 
	border-bottom-width: 0; 
}

pre { 
	font-family: Consolas, Verdana, "Courier New"; 
	font-size: 11px; 
	padding: 10px 30px; 
}

code { color: #779955; }

abbr, acronym { text-decoration: none; border-bottom: 1px dotted #aaaaaa; cursor: help; }

em { font-style: italic; }

strong { font-weight: bold; }

ins { color: #999999; text-decoration: none; padding-left: 20px; background: transparent url(images/information.png) center left no-repeat; }

del { text-decoration: line-through; } 

blockquote { text-align: right; }

blockquote p { text-align: left; }

blockquote cite { font-style: normal; padding-right: 10px; }

/* Structure */

body
{
	margin: 0;
	float: left;
	width: 100%; 
}

#wrapper
{
	clear: both;
	float: left;
	width: 100%;
	margin: 10px 0; 
	background: transparent url(images/hr_dotted.gif) 60% 0 repeat-y; 
}

#wrapper img {
	padding-bottom: 35px;
	padding-left: 35px;
	padding-top: 35px;
}

#content-wrapper
{
	width: 60%;
	float: left;
}

#content
{
	float: left;
	padding: 0 20px;
}

#sidebar-wrapper
{
	width: 40%;
	float: left;
}

#sidebar
{
	float: left;
	padding: 0 20px;
}

/* Header */
header {
	background: url(images/mainNav_bg.png) repeat-x center top;
	background-size: 1500px;
	float: left;
	width: 100%;
}

header h1 {
	padding: 20px; 
}

header img {
	float: left;
	padding: 9px;
}

#siteLogoNav {
	display: inline-block;
	float: left;
	margin: 0;
	padding: 0;
}

/* Navigation */
#navigation {
	color: #333333;
	display: inline-block;
	flex: 1;
	float: left;
	font-size: 14px;
	height: 55px;
}

#navigation ul { 
	background: none; 
	border-width: 0;
	display: inline-block;
	float: left; 
	list-style-type: none; 
	margin: 0;
	padding: 9px 9px;
}

#navigation li { 
	float: left;
}

#navigation a {
	float: left;
	display: block;
	padding: 5px 10px; 
}

#navigation a:link,
#navigation a:visited {
	color: #e9e2ba;  
	text-transform: uppercase; 
}

#navigation a:hover,
#navigation a:active {
	color: #e9e9b9;
	text-shadow: 0 0 6px #e9e2ba; 
}

#accountField {
	color: #333333;
	display: inline-block;
	float: right;
	font-size: 14px;
	height: 55px;
	width: auto;
}

#accountField ul {
	background: none; 
	border-width: 0;
	display: inline-block;
	float: right; 
	list-style-type: none; 
	margin: 0;
	padding: 9px 9px;
}

#accountField li {
	display: inline-block;
}

#accountField ul a {
	float: right;
	display: block;
	padding: 5px 10px; 
}

#accountField ul a:link,
#accountField ul a:visited {
	color: #e9e2ba;  
	text-transform: uppercase; 
}

#accountField ul a:hover,
#accountField ul a:active {
	color: #e9e9b9;
	text-shadow: 0 0 6px #e9e2ba; 
}

/* Sidebar */

#sidebar p
{
	color: #999999;
	margin: 10px 35px; 
	padding: 5px 30px; 
	line-height: 1.6em;
	border: 1px solid #1a1a1a;
	border-top: 10px solid #151515;
	background: rgba(0,0,0,.9);
}

/* Footer */
#footer {
	background: #222222 url(images/mainBody_bg.png) top center repeat-x;
	color: #888888;
	clear: both;
	float: left;
	text-align: center;
	width: 100%;
}

#footer p { 
	margin: 30px 100px; 
}

#footer a:link { 
	border-bottom: 1px dotted #888888;
	color: #888888; 
	font-weight: bold;  
} 

#footer a:visited { 
	border-bottom: 1px dotted #666666; 
	color: #666666; 
	font-weight: bold; 
}

#footer a:hover, #footer a:active { 
	color: #999999; 
	border-bottom: 1px solid #999999; 
}
