@charset "utf-8";

html {
	background-color: black;
}

#navHeader {
	background: url(images/mainNav_bg.png) repeat-x center top;
	display: block;
	height: 71px;
	margin-left: 0;
	margin-right: 0;
	width: 100%;
}

#siteLogo {
	clear: both;
	padding-left: 1%;
	padding-top: 1%;
	position: fixed;
	top: 0;
}

#imgSlider {
	background: url(images/sschindylyrn.jpg) no-repeat center top;
	height: 300px;
}

body {
	background: url(images/mainBody_bg.png) no-repeat center;
	bottom: 0;
	height: 100%;
	position: fixed;
	width: 100%;
}

aside {
	
}

footer {
	
}
